<div class="container">
    <!-- <div class=" text-center mt-5 ">
                <a>Search Book  </a>  
    </div> -->

    <div class="row ">
        <div class="form-group mb-4">
            <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
          </div>
     
        <table class="table" *ngIf="(books | filter: searchText).length > 0; else noResults">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">LOGO</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">AUTHOR</th>
                    <th scope="col">PUBLISHER</th>
                    <th scope="col">CONTENT</th>
                    <th scope="col">ACTIVE</th>
                    <!-- <th scope="col">MODIFY</th>
                    <th scope="col">DELETE</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of books | filter: searchText; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td><img src={{b.logo}} id="logo"/></td>
                    <td>{{b.title}}</td>
                    <td>{{b.category}}</td>
                    <td>{{b.price}}</td>
                    <td>{{b.author}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.chaptersOrContent}}</td>
                    <td>{{b.active}}</td>

                    <td><button type="button" (click)="updateBook(b, i)" style="margin-right:500;"
                            class="btn btn-warning">Edit</button></td>
                    <td><button type="button" (click)="deleteRow(b,i)" style="margin-right:500;"
                            class="btn btn-danger">Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>

        <ng-template #noResults>
            <p>No results found for "{{searchText}}".</p>
          </ng-template>

          
<!-- <div class="container" >
    <input [(ngModel)]='book.logo' placeholder="Logo" >
    <input [(ngModel)]='book.category' placeholder="Book Category" >
    <input [(ngModel)]='book.author' placeholder="Book Author" >
    <input [(ngModel)]='book.publisher' placeholder="Enter Class" >
    <input [(ngModel)]='book.published_date' placeholder="Enter Date of Birth" >
    <input [(ngModel)]='book.chaptersOrContent' placeholder="Enter Date of Birth" >
    <input [(ngModel)]='book.title' placeholder="Book Title" >
    <input [(ngModel)]='book.price' placeholder="Book Price" >
    <button type button (click)="update(book)" style="margin-right:500;" class="btn btn-success">Purchase</button> 
    </div> -->
     <!-- start -->
     <div class="container">
        <!-- <div class=" text-center mt-5 ">
                    <h1 >Create Book</h1>    
        </div> -->
    
        <div class="row ">
            <div class="col-lg-7 mx-auto">
                <div class="card mt-2 mx-auto p-4 bg-dark">
                    <div class="card-body bg-light">
    
                        <div class="container">
                            <form id="contact-form" role="form">
                                <!-- <h1 >Create Book</h1>   -->
                                <b>MODIFY BOOK</b>
                                <div class="controls">
    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="formFile" class="form-label">Logo</label>
                                                <input class="form-control" [(ngModel)]=book.logo name="logo" type="file"
                                                    id="formFile">
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Title</label>
                                                <input id="form_name" type="text" [(ngModel)]=book.title name="title"
                                                    class="form-control" placeholder="Enter book Title" required="required"
                                                    data-error="Tile is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_need">Category</label>
                                                <select id="form_need" [(ngModel)]=book.category name="category"
                                                    class="form-control" required="required"
                                                    data-error="Please specify your need.">
                                                    <option value="" selected disabled>Selet book category</option>
                                                    <option>Comic Book</option>
                                                    <option>Detective and Mystery</option>
                                                    <option>Historical Fiction</option>
                                                    <option>Literary Fiction</option>
                                                    <option>Action</option>
                                                    <option>Novel</option>
                                                    <option>Horror</option>
                                                </select>
    
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_price">Price</label>
                                                <input id="form_price" type="number" [(ngModel)]=book.price name="price"
                                                    class="form-control" placeholder="Enter the price in Rs"
                                                    required="required" data-error="price is required.">
                                            </div>
                                        </div>
    
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_active">Active</label>
                                                <select id="form_active" [(ngModel)]=book.active class="form-control" name="active"
                                                    required="required" data-error="Please specify your need.">
                                                    <option value="" selected disabled>Slect book Status</option>
                                                    <option>Yes</option>
                                                    <option>No</option>
                                                </select>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_published">Published Date</label>
                                                <input id="form_published" type="date" [(ngModel)]=book.published_date
                                                    name="published_date" class="form-control"
                                                    placeholder="Enter Published date" required="required"
                                                    data-error="Published Date is required.">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_publisher">Publisher</label>
                                                <input id="form_publisher" type="text" [(ngModel)]=book.publisher
                                                    name="publisher" class="form-control" placeholder="Enter book Publisher"
                                                    required="required" data-error="Publisher is required.">
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_author">Author</label>
                                                <input id="form_author" type="text" [(ngModel)]=book.author name="author"
                                                    class="form-control" placeholder="Add author name" required="required"
                                                    data-error="Please add Author details .">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Content</label>
                                                <textarea id="form_content" name="Content"
                                                    [(ngModel)]=book.chaptersOrContent name="chaptersOrContent"
                                                    class="form-control" placeholder="Write your message here." rows="4"
                                                    required="required"
                                                    data-error="Please, enter Content here.."></textarea>
                                            </div>
                                        </div>
    
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="submit" (click)="update(book)"
                                                class="btn btn-success btn-send  pt-2 btn-block" value="Update Book">
                                        </div>
    
                                    </div>
    
    
                                </div>
                            </form>
                        </div>
                    </div>
    
    
                </div>
                <!-- /.8 -->
    
            </div>
            <!-- /.row-->
    
        </div>
    </div>
    
    

    <!-- end -->
    </div>
</div>