<div class="container">
    <!-- <div class=" text-center mt-5 ">
                <h1 >Search Book</h1>    
    </div> -->

    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-dark">
                <div class="card-body bg-light">

                    <div class="container">
                        <form id="contact-form" role="form">
                            <b>SEARCH BOOK</b>
                            <div class="controls">

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_need">Category</label>
                                            <select id="form_need" name="need" class="form-control" required="required"
                                                data-error="Please specify your need.">
                                                <option value="" selected disabled>Selet book category</option>
                                                <option>Comic Book</option>
                                                <option>Detective and Mystery</option>
                                                <option>Historical Fiction</option>
                                                <option>Literary Fiction</option>
                                                <option>Action</option>
                                                <option>Novel</option>
                                                <option>Horror</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_publisher">Publisher</label>
                                            <input id="form_publisher" type="text" name="Publisher" class="form-control"
                                                placeholder="Enter book Publisher" required="required"
                                                data-error="Publisher is required.">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_price">Price</label>
                                            <input id="form_price" type="number" name="Price" class="form-control"
                                                placeholder="Enter the price in Rs" required="required"
                                                data-error="price is required.">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="form_published">Published Date</label>
                                            <input id="form_published" type="date" name="Published" class="form-control"
                                                placeholder="Enter Published date" required="required"
                                                data-error="Published Date is required.">
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">

                                    </div>

                                </div>

                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-success btn-send  pt-2 btn-block"
                                            value="Search Book">
                                    </div>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>


            </div>


        </div>


        <!-- ******* -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">LOGO</th>
                    <th scope="col">TITLE</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">AUTHOR</th>
                    <th scope="col">PUBLISHER</th>
                    <th scope="col">CONTENT</th>
                    <th scope="col">ACTIVE</th>
                    <!-- <th scope="col">MODIFY</th>
                    <th scope="col">DELETE</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of books; index as i">
                    <th scope="row">{{i + 1}}</th>
                    <td><img src={{b.logo}} id="logo"/></td>
                    <td>{{b.title}}</td>
                    <td>{{b.category}}</td>
                    <td>{{b.price}}</td>
                    <td>{{b.author}}</td>
                    <td>{{b.publisher}}</td>
                    <td>{{b.chaptersOrContent}}</td>
                    <td>{{b.active}}</td>

                    <!-- <td><button type="button" (click)="modify(b)" style="margin-right:500;"
                            class="btn btn-warning">Edit</button></td>
                    <td><button type="button" (click)="deleteRow(b,i)" style="margin-right:500;"
                            class="btn btn-danger">Delete</button>
                    </td> -->

                    <!-- <div class="logo-image">
                        <img src="1.png"  id="logo"/>  
                         </div> -->

                </tr>
            </tbody>
        </table>

     
    </div>
</div>